.chatpage{
    height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background-color:rgb(156, 217, 212);
        background: url(image1.jpg) center no-repeat;
        background-blend-mode:hard-light;
        position:relative;
        background-size: cover;
        opacity: inherit;
           
}
.signout{
    display: flex;
    align-items: center;
}
.chatbox{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
    height: 770px;
    border: 10px solid black;
    border-radius: 50px;
    background-color:rgb(140, 164, 200);
    padding: 50px 10px;

}
.mess{
    padding: 10px 20px;
    border-radius:20px ;
    width: 100%;
    overflow-wrap:break-word;
    background-color: rgb(204, 204, 204);
    font-size: 20px;
}
.messages{
    display: flex;
    flex-direction: column;
    overflow:auto;
    height:90%;
    padding: 0px 5px;
    
}
.messages::-webkit-scrollbar{display: none;}
.messenger{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-around;
    border-radius: 15px;
    padding: 10px 0px;
}
.sendButton{
    width: 12%;
    border-radius: 40px; 
    display: flex;
    background-color: rgb(0, 179, 104);
    justify-content: center;
    align-items: center;
    
}
.sendButton>img{
    width: 50%;
}
.messageBox{
    width: 73%;
    border-radius: 30px;
    padding: 0px 20px;
    font-weight: bold;
    height: 53px;
    background-color: rgb(221, 232, 208);
    font-size: larger;
    color: rgb(0, 0, 0);
}
.dop{
    font-family: "Varela",sans-serif;
    background-color: #2d7bc5;
    padding:0px 15px;
    color: white;
    height:42px;
    width: 165px;
    line-height: 36px;
    border-radius: 7px;
    border: 1px solid #2d7bc5;
    text-transform: uppercase;

  }