body{
  display: flex;
  background-color:rgb(72, 72, 72);
  justify-content:center;
  align-items: center;
  height: 100vh;
  background: url(img.jpg) center no-repeat;
  background-blend-mode:hard-light;
  position:relative;
  background-size: cover;
}
.signin{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 240px;
    align-items:center;
    /* margin-left: 40%;
    margin-top:5%; */
    opacity: 71%;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    justify-content: space-around;
  }

.signin>input{
    height: 30px;
    width: 75%;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: bolder;
  }
  .signinButton{
    height: 30px;
    width: 50%;
    border-radius: 10px;
    background-color:greenyellow;
  }
  .signinLink{
    /* border: 2px solid red; */
    width: 50%;
}
@media screen and (max-width: 480px) {
    .signin{
      width: 90vw;
    }
  
}